.photo-row{
  display: flex;
}
.photo-container{
  flex-grow: 1;
  padding:2em;
  text-align:center;
  margin:0.5em;
  border:solid #FFC2BE; 3px;
  border-radius:3px;
  background-color:#FFC2BE;
}
.photo-container img{
  border:solid white 3px;
  border-radius:3px;
}

#big-img{
  border:solid white 5px;
  border-radius:3px;
  position:fixed;
  z-index:999;
  top:20%;
  width:80%;
}
