body{
  background-color:#4ab5b0;
    color:black;
  text-align:left;
    font-family:Geist;
  margin-left:10%;
  margin-right:10%
}
.heading{
  font- family:Play, cursive;
  font-size:300%;
  color:black;
  text-shadow:#d61111 3px 3px;
}
h2.heading{
  font-size: 200%
}

.bordered {
  border-style: solid;
  border-color: #260a0a;
  border-width:2px;
  padding: 9px;
  border-radius: 40px;
  margin: 12px;
  background-color: rgba(50, 50, 250,0.2);
  color:#260a0a;
}

a{
  text-decoration: none;
  font-weight: 800;
  color:#fa0202
}
a:hover {
  color:#1702fa
}
hr{
  height: 2px;
  border: 0px;
  background-color:#fa0202
}
#footer{
  
}
#MONKEY {
  width:100vw;
  height:139vh;
  z-index:-999;
  position:fixed;
  top:-200px;
  left:0px;
}

#global-preheader {
  text-align:center;
  border: solid black 3px;
  border-radius:20px
}

#nav-list {
  padding:10px;
  display: flex;
  justify-content: center;
  list-style-type: none;
  position: relative;
  background-color: #111e69;
  text-align:center;
  border-radius:5px;
}

#nav-list > li {
  flex-grow:1;
  display: inline-block;
  width: 15%;
  position: relative;
}

nav-list li a {
  display: inline-block;
  width: 100%;
}

#nav-list ul {
  display: none;
  background-color: pink;
}
#nav-list li:hover ul {
  display:block;
}

#nav-list li:hover {
  background: rgb(50,180,240);
}

#nav-list li ul {
  list-style-type: none;
  padding:0px;
  position: absolute;
  width:100%;
}

#gheader {
  background: rgba(
}
