body{
  background-color:#49519e;
    color:black;
  text-align:left;
    font-family:Geist;
  margin-left:10%;
  margin-right:10%
}
.heading{
  font- family:Play:wght@400;700&display=sw ap";cursive;
  font-size:300%;
  color:black;
  text-shadow:#ff0303 2px 2px;
}
h2.heading{
  font-size: 200%
}
