body{
  background-color:#4ab5b0;
    color:black;
  text-align:left;
    font-family:Geist;
  margin-left:10%;
  margin-right:10%
}
.heading{
  font- family:Play, cursive;
  font-size:300%;
  color:black;
  text-shadow:#d61111 2px 2px;
}
h2.heading{
  font-size: 200%
}
