body {
  margin: 0;
  background-color: rgba(25,25,25,.2);
}

#to-do-list {
  list-style-type: none;
}

#NewThing {
  text-align:center;
  margin-top:8.5%;
}

#bg {
  width: 100vw;
  height:100vh;
  z-index:-999;
  position:fixed;
  top:0px;
  left:0px;
  
}

h1 {
  text-align:center;
  margin-top:5%;
}

p {
  text-align:center;
}

#additem {
  color: rgba(0,0,250,0.5)
}

#clearlist {
  color: rgba(0,250,0,.5)
}
