
body{
  margin:3%;
  padding:0;
  
}

.square {
  width:30vw;
  font-size:300%;
  float:left;
  text-align:center;
  padding-top:5%;
  padding-bottom:5%;
}

#top-left{
  border-bottom:  solid black 2px;
  border-right: solid black 2px;
}
#top-middle{
  border-left: solid black 2px;
  border-bottom: solid black 2px;
  border-right: solid black 2px;
}
#top-right{
  border-left: solid black 2px;
  border-bottom: solid black 2px;
}
#middle-left{
  border-right: solid black 2px;
  border-top: solid black 2px;
  border-bottom: solid black 2px;
}
#middle{
  border: solid black 2px;
}
#middle-right{
  border-left: solid black 2px;
  border-top: solid black 2px;
  border-bottom: solid black 2px;
}
#bottom-left{
  border-top: solid black 2px;
  border-right: solid black 2px;
}
#bottom-middle{
  border-top: solid black 2px;
  border-left: solid black 2px;
  border-right: solid black 2px;
}
#bottom-right{
  border-top: solid black 2px;
  border-left: solid black 2px;
}


#winner{
  display:none;
  position: fixed;
  top: 0px;
  left:0px;
  right:0px;
  bottom: 0px;
  text-align:center;
  border: solid black 3px;
  background-color:rgba(0,0,0,.5);
  color:red;
  font-size:200%;
  padding: 2em;
}

#winner div {
  margin: auto;
  top: 100px;
  left:25%;
  right:25%;
  text-align:center;
  border: solid black 3px;
  background-color:black;
  color:red;
  font-size:200%;
  padding: 2em;
}
